/*DO NOT ADD EMPTY SPACE and MULTIPLE LINE FOR SINGLE STYLE. TYPE IN ONE LINE - */
.Selected {
  background-color: #ddd;
}

#eyMenuNav  {
  font-size: 1.05em;
  font-weight: normal;
  color: #000000;
  background-repeat: no-repeat;
  border: 1px solid #999999;
  clear: both;
  height: 26px;
  line-height: 17px;
  position: relative;
  z-index: 10000;
  
}

#eyMenuNav ul  {
  border: 0 none;
  padding: 0;
  list-style: none;
  margin: 0;
  height: 24px;
}

#eyMenuNav ul li  {
  margin: 1px -1px 1px 1px;
  border-right: 1px solid #999;
  padding: 0;
  float: left;
  display: inline;
  list-style: none;
  position: relative;
  font-weight: bold;
}

#eyMenuNav ul li li  {
  border: 0 none;
}

#eyMenuNav ul li ul  {
  border: 1px solid #999;
  border-top: 0;
  background-color: #FFF;
  width: 177px;
  margin: 0px 0px 0px 0px;
  padding: 0;
  list-style: none;
  display: none;
  position: absolute;
  top: 25px;
  left: 0;
}

#eyMenuNav IFRAME  {
  filter: progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=0);
  LEFT: -1px;
  POSITION: absolute;
  TOP: -1px;
  border: none;
  padding: none;
  margin: none;
}

#eyMenuNav ul li ul li  {
  border-right: 0px !important;
  left: -1px;
}

#eyMenuNav ul li ul li a  {
  margin: 1px 2px 1px 1px;
}

#eyMenuNav ul ul:after /*From IE 7 lack of compliance*/ {
  clear: both;
  display: block;
  content: ".";
  height: 0;
  visibility: hidden;
}

#eyMenuNav ul ul li  {
  font-weight: normal;
  width: 179px;
  float: left;
  display: block !important;
  clear: both;
  display: inline;
}

#eyMenuNav ul li a.sub:hover  {
  background: #cccccc;
}

/* Root Menu */
/*
#eyMenuNav li 
{
            background-image: url("../images/arrow-right.gif"); 
            background-attachment: scroll;
	        background-repeat: no-repeat;
	        background-position-x: right;
	        background-position-y: bottom;
	        background-size: auto;
	        background-origin: padding-box;
	        background-clip: border-box;
	        background-color: transparent;
}*/
#eyMenuNav ul a  {
  padding: 6px 6px;
  float: none !important;
  float: left;
  display: block;
  color: #000;
  text-decoration: none;
  height: 1em !important;
  height: 1%;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

* html #eyMenuNav ul a  {
  padding: 4px 6px;
  height: auto !important;
}

#eyMenuNav ul ul li a  {
  padding: 4px 6px 6px 4px;
  height: 1em !important;
}

* html #eyMenuNav ul ul li a  {
  padding: 2px 6px 4px 6px;
}

/* Root Menu Hover Persistence */
#eyMenuNav ul a:hover,
#eyMenuNav ul li:hover a,
#eyMenuNav ul li.iehover a  {
  color: #000;
}

/* 2nd Menu */
#eyMenuNav ul li:hover li a,
#eyMenuNav ul li.iehover li a  {
  float: none;
  color: #000;
}

/* 2nd Menu Hover Persistence */
#eyMenuNav ul li:hover li a:hover,
#eyMenuNav ul li:hover li:hover a,
#eyMenuNav ul li.iehover li a:hover,
#eyMenuNav ul li.iehover li.iehover a  {
  color: #000;
}

/* 3rd Menu */
#eyMenuNav ul li:hover li:hover li a,
#eyMenuNav ul li.iehover li.iehover li a  {
  color: #000;
}

/* 3rd Menu Hover Persistence */
#eyMenuNav ul li:hover li:hover li a:hover,
#eyMenuNav ul li:hover li:hover li:hover a,
#eyMenuNav ul li.iehover li.iehover li a:hover,
#eyMenuNav ul li.iehover li.iehover li.iehover a  {
  color: #000;
}

/* 4th Menu */
#eyMenuNav ul li:hover li:hover li:hover li a,
#eyMenuNav ul li.iehover li.iehover li.iehover li a  {
  color: #000;
}

/* 4th Menu Hover */
#eyMenuNav ul li:hover li:hover li:hover li a:hover,
#eyMenuNav ul li.iehover li.iehover li.iehover li a:hover  {
  color: #000;
}

#eyMenuNav ul ul ul,
#eyMenuNav ul ul ul ul  {
  display: none;
  position: absolute;
  top: -1px;
  left: 177px;
}

/* Do Not Move - Must Come Before display:block for Gecko */
#eyMenuNav ul li:hover ul ul,
#eyMenuNav ul li:hover ul ul ul,
#eyMenuNav ul li.iehover ul ul,
#eyMenuNav ul li.iehover ul ul ul  {
  display: none;
}

#eyMenuNav ul li:hover ul,
#eyMenuNav ul ul li:hover ul,
#eyMenuNav ul ul ul li:hover ul,
#eyMenuNav ul li.iehover ul,
#eyMenuNav ul ul li.iehover ul,
#eyMenuNav ul ul ul li.iehover ul  {
  display: block;
}

#eyMenuNav ul ul  {
  padding: 0;
  margin: 0 0 0 -1px;
}

#eyMenuNav ul ul ul {
  margin: 0;
}

#eyMenuNav ul ul li  {
  margin: 0;
  border-top: 1px solid #999;
}

#eyMenuNav ul a:hover, #eyMenuNav ul a.on, #eyMenuNav ul li.on  {
  background: #ccc;
}

#eyMenuNav ul li.first a.on, #eyMenuNav ul li.first.on  {
  margin-left: -1px;
}

#eyMenuNav ul ul li a:hover  {
  background: #ccc;
  margin: 1px -1px 1px 1px;
}

/*#subnav styles*/
#subnav  {
  padding: 0pt;
}

#subnav .pad  {
  margin: 0!important;
}

#subnav ul  {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#subnav li  {
  background-image: none;
  margin: 0;
  padding: 0pt;
}

#subnav a, #subnav a:visited  {
  border-bottom: 1px solid rgb(204, 204, 204);
  padding: 5px 10px;
  margin: 0;
  zoom: 1;
  display: block;
  font-weight: bold;
  text-decoration: none;
  color: rgb(134, 134, 134);
}

#subnav a:hover, #subnav a.active, .basic .trigger  {
  background-color: #F0F0F0;
}

#subnav ul ul  {
  padding-left: 1em;
  border-bottom: 1px solid #ccc;
  margin: 0 auto auto;
}

#subnav ul ul a, #subnav ul ul a:visited  {
  color: #369;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  border-bottom: none;
  font-weight: normal;
}

#subnav ul ul li a:hover  {
  text-decoration: underline;
  background: transparent;
}

#subnav ul ul li a.active  {
  color: #000!important;
  background: transparent;
}

.basic li  {
  list-style-type: none;
  line-height: 15px;
  border: none;
  text-decoration: none;
  font-weight: bold;
  margin: 0px;
  padding: 0 10px 0 10px;
  margin: 0 0 3px 7px;
}

.basic li.activelement  {
}

.basic li.activelement a  {
  color: #000000;
}

/* Menu styles */
.eyTreeMenu {
  padding: 0px;
}

.eyTreeMenu ul {
  margin: 0px 0px 0px 0px;
}

.eyTreeMenu li {
  margin: 0px 0px 0px 5px;
  padding: 0px;
  list-style-type: none;
  text-align: left;
}

/* Submenu styles */
.eyTreeMenu ul ul  {
  margin: 0px 0px 0px 16px;
}

.eyTreeMenu li li {
  margin: 0px 0px 0px 0px;
}

/* Symbol styles */
.eyTreeMenu .nochild,
.eyTreeMenu .item,
.eyTreeMenu .plus,
.eyTreeMenu .minus {
  float: left;
  width: 16px;
  height: 1em;
  background-position: left center;
  background-repeat: no-repeat;
}

.eyTreeMenu .item   {
  background-image: url(/NS/Images/folder.gif);
}

.eyTreeMenu .plus   {
  background-image: url(/NS/Images/plus.gif);
}

.eyTreeMenu .minus  {
  background-image: url(/NS/Images/minus.gif);
}

.disableTextBox {
  background-color: #DCDCDC;
}

.eyTreeMenuLevel1 {
  background-color: #f0f0f0;
  width: 100%;
  font-size: 1em;
  cursor: hand;
}

.eyTreeMenuLevel2 {
  width: 100%;
  font-size: 1em;
  cursor: hand;
}

.eyTreeMenuSelected {
  background-color: #dcdcdc;
  width: 100%;
  font-size: 1em;
  cursor: hand;
}

